* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f2f2f2;
}

header {
    background-color: #0C70F2;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    align-items: center;
    padding: 1em 5em;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.banner__text {
    max-width: 18em;
    font-size: 30px;
    font-weight: 800;
}

.banner__text p {
    padding-top: 40px;
}

.banner__img {
    width: 150px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 20vw;
    padding: 4em 3em;
    margin: 10em 0 5em 0;
    border-radius: 30px;
}

label {
    padding: 1em 0;
    font-size: 15px;
    align-self: flex-start;
}

input {
    background-color: #f2f2f2;
    border: none;
    border-radius: 10px;
    padding: 0.6em 0;
}

.form__text {
    width: 100%;
    padding-left: 1em;
}

.form__latlong {
    margin-right: 10px;
    padding-left: 1em;
    width: 40%
}

input::placeholder {
    font-size: 11px;
}

button {
    width: 100%;
    margin-top: 50px;
    border-radius: 10px;
    border: none;
    background-color: #0C70F2;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 0.3em 0;
    cursor: pointer;
    box-shadow: 0px 5px 3px 0px rgba(12, 112, 242, 0.25);
}

button:hover {
    background-color: rgba(12, 112, 242, 0.55);
    transition: 0.2s;
    transform: translateY(-4px);
}

.container__result {
    display: flex;
    align-items: center;
    gap: 15px;
}

.container__result img {
    width: 100px;
}

.result-climate {
    background-color: #fff;
    font-weight: 700;
    padding: 0.6em 6em;
    border: 1px solid #0C70F2;
    border-radius: 20px;
    margin: 20px 0;
    font-size: 15px;
}

.result-cep {
    background-color: #fff;
    margin: 20px 0 80px 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.result-cep-cabecalho {
    background-color: #0C70F2;
    color: #fff;
    padding: 0.6em 4em;
    font-size: 15px;
    font-weight: 700;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.result-cep-info {
    border-radius: 30px;
    padding: 0.6em 4em;
    font-size: 15px;
    font-weight: 700;
}

footer {
    background-color: #0C70F2;
    color: #fff;
    display: flex;
    justify-content: end;
    font-weight: 600;
    align-items: center;
    padding: 1em 5em;
    margin-top: 100px;
}